.FormInput {
  display: grid;
  grid-template-columns: 120px 180px;
  grid-template-rows: 26px 26px 4px;
  grid-template-areas: "label input1" "_ error";

  .Label {
    grid-area: label;
    text-align: end;
    padding: 0 10px 0 0;
    font-size: $fontSizeBig;
    line-height: $formInputHeight;
  }

  .Error {
    grid-area: error;
    padding: 0 0 0 11px;
    font-size: $fontSizeSmall;
    color: $textColorError;
    line-height: $formInputHeight;
  }
}