.ModalBackground {
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $modalBackgroundColor;

  .NewAccountModal {
    height: 200px;
    width: 300px;
    margin: 100px auto;
    padding: 30px 20px 20px 20px;
    background-color: $backgroundColor;
  }
}