.TopMenu {
  height: $topMenuHeight;
  background-color: $topMenuBackgroundColor;
  padding: 0 0 0 80px;

  .Logo {
    max-height: 60px;
    max-width: 60px;
    position: absolute;
    top: 4px;
    left: 10px;
  }

  .MenuItem {
    display: inline;
    padding: 13px 20px;
    line-height: $topMenuHeight;
    color: $textColor;
    text-decoration: none;
    text-transform: uppercase;
    font-size: $topMenuFontSize;

    &:hover {
      color: $textColorInverted;
      background-color: $textColorActive;
    }
  }

  .MenuItemActive {
    color: $textColorActive;
  }
}