.IconButton {
  height: 40px;
  width: 40px;
  cursor: pointer;

  &:hover {
    background-color: $textColorActive;
    .Icon {
      background-color: $textColorInverted;
    }
  }

  .Icon {
    background-color: $textColor;
    margin: 7px auto;
  }
}