// style global variables

$topMenuHeight: 50px;
$topMenuBackgroundColor: #424242;
$topMenuFontSize: 20px;

$backgroundImage: linear-gradient(to bottom right, #353533, #181815);
$backgroundImageInverted: linear-gradient(to bottom right, #353533, #181815);

$fontSize: 16px;
$fontSizeBig: 18px;
$fontSizeSmall: 14px;

$fontFamily: 'Slabo 27px', serif;

$modalBackgroundColor: rgba(255, 255, 255, 0.5);

$textColor: #FFF;
$textColorActive: #EBCF39;
$textColorError: #ff4c73;
$textColorInverted: #424242;

$formInputHeight: 26px;