.App {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: $backgroundImage;
  font-family: $fontFamily;
  font-size: $fontSize;
  color: $textColor;

  .Page {
    padding: 20px;
  }
}